---
import { Image } from "astro:assets";
import abr3havensLogo from "../images/abr3-logo.jpg";
---

<header
  class="sticky top-0 z-50 bg-gray-900/75 p-4 backdrop-blur-sm"
  id="main-header"
>
  <nav class="container mx-auto flex items-center justify-between">
    <a href="/" class="flex items-center space-x-2">
      <Image
        src={abr3havensLogo}
        alt="Abr3havens Logo"
        width={48}
        height={48}
        class="h-8 w-8 transition-all md:h-10 md:w-10 lg:h-12 lg:w-12"
      />
      <span class="text-2xl font-bold">ABR<sup>3</sup>Havens</span>
    </a>
    <div class="hidden items-center space-x-6 md:flex">
      <a href="/" class="transition-colors hover:text-cyan-400">Home</a>
      <a href="/about" class="transition-colors hover:text-cyan-400">About Us</a
      >
      <a
        href="/booking"
        class="rounded bg-cyan-500 px-4 py-2 font-bold text-white transition-colors hover:bg-cyan-600"
        >Book Now</a
      >
    </div>
    <div class="md:hidden">
      <button id="menu-btn" class="relative z-50 text-white focus:outline-none">
        <svg
          id="menu-open-icon"
          class="h-6 w-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M4 6h16M4 12h16M12 18h8"></path>
        </svg>
        <svg
          id="menu-close-icon"
          class="hidden h-6 w-6"
          fill="none"
          stroke="currentColor"
          viewBox="0 0 24 24"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            stroke-linecap="round"
            stroke-linejoin="round"
            stroke-width="2"
            d="M6 18L18 6M6 6l12 12"></path>
        </svg>
      </button>
    </div>
  </nav>
  <!-- Mobile Menu -->
  <div id="mobile-menu" class="hidden md:hidden">
    <a href="/" class="block px-4 py-2 text-sm hover:bg-gray-700">Home</a>
    <a href="/about" class="block px-4 py-2 text-sm hover:bg-gray-700"
      >About Us</a
    >
    <a href="/booking" class="block px-4 py-2 text-sm hover:bg-gray-700"
      >Book Now</a
    >
  </div>
</header>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const menuBtn = document.getElementById("menu-btn");
    const mobileMenu = document.getElementById("mobile-menu");
    const openIcon = document.getElementById("menu-open-icon");
    const closeIcon = document.getElementById("menu-close-icon");

    if (menuBtn && mobileMenu && openIcon && closeIcon) {
      menuBtn.addEventListener("click", () => {
        mobileMenu.classList.toggle("hidden");
        openIcon.classList.toggle("hidden");
        closeIcon.classList.toggle("hidden");
      });
    }
  });
</script>
